{% extends "master.html" %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <table class="table">
                <thead>
                    <tr>
                        <th colspan="2">
                                <h1 class="display-4">ADD NEW NOTICE</h1></th>

                    </tr>

                </thead>
                <tbody>
                    <tr>
                        <td scope="row">
                            <label for="names">NAME</label></td>
                        <td><input type="text" name="names" id="names"></td>

                    </tr>
                    <tr>
                        <div class="input-group">
                            <td scope="row">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
                                    </div>
                            </td>
                            <td>
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="inputGroupFile01"
                                        aria-describedby="inputGroupFileAddon01">
                                    <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                                </div>
                            </td>
                        </div>
                    </tr>
                    <tr>
                        <td scope="row"><label for="username">File Type</label></td>
                        <td><select class="form-control" id="sel1">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                            </select> </td>
                    </tr>
                    <tr>
                        <td scope="row">
                            post to-
                        </td>
                        <td>
                            <div class="form-check-inline">
                                <label class="form-check-label" for="check1">
                                    <input type="checkbox" class="form-check-input" id="check1" name="vehicle1"
                                        value="something" checked>Option 1
                                </label>
                            </div>
                            <div class="form-check-inline">
                                <label class="form-check-label" for="check2">
                                    <input type="checkbox" class="form-check-input" id="check2" name="vehicle2"
                                        value="something">Option 2
                                </label>
                            </div>
                            <div class="form-check-inline">
                                <label class="form-check-label">
                                    <input type="checkbox" class="form-check-input" disabled>Option 3
                                </label>
                            </div>
                        </td>
                    </tr>
                  
                   
                    
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock content %}