<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <form action="" method="post">
    <table class="table table-striped table-inverse table-responsive">
        <thead class="thead-inverse">
            <tr>
                <th colspan="2"> ADD NEW NOTICE</th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <td scope="row"><label for="username">NAME</label></td>
                <td><input type="text" name="name" id="name"></td>
            </tr>
            <tr>
                <td scope="row"><label for="upload file"></label>upload file
                <td><input type="file" class="custom-file-input" id="inputGroupFile01"
                        aria-describedby="inputGroupFileAddon01"></i></td>

            </tr>
            <tr>
                <td scope="row"><label for="username">File Type</label>
                    <select class="form-control">
                        <option>image</option>
                        <option>video</option>
                        <option>text</option>
                    </select>
            </tr>
            </tr>
            <tr>
                <td scope="row"><label for="username">Notice to be Display on</label></td>
                <t class="form-check">
                    <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" value="">MCA
                    </label>
                    <input type="checkbox" class="form-check-input" value="">CS
                    </label>
                    <input type="checkbox" class="form-check-input" value="">IT
                    </label>
                    <input type="checkbox" class="form-check-input" value="">EEE
                    </label>
                    <input type="checkbox" class="form-check-input" value="">EC
                    </label>
                    <input type="checkbox" class="form-check-input" value="">EI
                    </label>


            </tr>
            <tr >
                <td scope="row">
                    Post to-
                </td>
                <td>
                        <div class="form-check-inline">
                                <label class="form-check-label" for="check1">
                                  <input type="checkbox" class="form-check-input" id="check1" name="vehicle1" value="something" checked>Option 1
                                </label>
                              </div>
                              <div class="form-check-inline">
                                <label class="form-check-label" for="check2">
                                  <input type="checkbox" class="form-check-input" id="check2" name="vehicle2" value="something">Option 2
                                </label>
                              </div>
                              <div class="form-check-inline">
                                <label class="form-check-label">
                                  <input type="checkbox" class="form-check-input" disabled>Option 3
                                </label>
                              </div>
                </td>
            </tr>
        </tbody>
</body>
</table>
</form>
</body>

</html>